<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estadísticas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/styles_estadisticas.css">
</head>

<body class="estadisticas">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="../index.html">
                <img src="../img/escudo del America.png" width="30">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="../index.html"></a>
                    <a class="nav-link" href="Historia.html">Historia</a>
                    <a class="nav-link" href="Titulos.html">Titulos</a>
                    <a class="nav-link" href="Idolos.html">Ídolos</a>
                    <a class="nav-link" href="Estadio.html">Estadio</a>
                    <a class="nav-link" href="Curiosidades.html">Curiosidades</a>
                    <a class="nav-link" href="Estadisticas.html">Estadísticas</a>
                    <a class="nav-link" href="Plantilla.html">Plantilla</a>
                    <a class="nav-link" href="login.html">Login</a>
                    <a class="nav-link" href="Register.html">Register</a>
                </div>
            </div>
        </div>
    </nav>

    <section>
        <div class="Estadisticas">
            <h2>Estadísticas</h2>
            <p>
                América de Cali ha evolucionado de un club con altibajos históricos, incluyendo un descenso en 2011, a
                un equipo competitivo en la cima de la Primera A en 2026. Contenido de las estadísticas del equipo:
            </p>
            <h2>Récord Liga General</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Métrica</th>
                        <th scope="col">Histórico (hasta 2025)</th>
                        <th scope="col">Actual (2026 Primera A)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Posición ranking</th>
                        <td>4° en Colombia </td>
                        <td>5° lugar</td>
                    </tr>
                    <tr>
                        <th scope="row">Temporadas en 1.ª</th>
                        <td>78 (1948-2011, 2017-2025)</td>
                        <td>En curso (invicto inicial)</td>
                    </tr>
                    <tr>
                        <th scope="row">Victorias/Empates/Derrotas</th>
                        <td>1664/1172/1193 en 4029 partidos</td>
                        <td>5-1-3 o 5-1-2 (9-10 PJ)</td>
                    </tr>
                    <tr>
                        <th scope="row">Goles a favor/en contra</th>
                        <td>5866/4811 totales</td>
                        <td>11 goles a favor (1.57 por PJ)</td>
                    </tr>
                    <tr>
                        <th scope="row">Títulos liga</th>
                        <td>15 (ej. 1979-1990)</td>
                        <td>En disputa Apertura</td>
                </tbody>
            </table>

            <h2>Goleadores y Forma</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Aspecto</th>
                        <th scope="col">Histórico</th>
                        <th scope="col">Actual(2026)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Máximos goleadores</th>
                        <td>Máximo Histórico: Anthony 'El Pitufo' De Ávila(208 goles). Segundo Histórico: Jorge Ramón
                            'La Fiera' Cáceres(135-137 goles). Tercero Histórico: Juan Manuel Battaglia(110 goles)
                        </td>
                        <td>Adrián Ramos(+100 goles)</td>
                    </tr>
                    <tr>
                        <th scope="row">Porteria en cero</th>
                        <td>Rachas notables en epocas doradas</td>
                        <td>100% en primeros PJ(1-0 empates)</td>
                    </tr>
                    <tr>
                        <th scope="row">Forma reciente</th>
                        <td>Descenso 2011, 5 años en 2.ª </td>
                        <td>2-0 derrota pasto; 2-1 Sudamericana</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>

</html>