<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Idolos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/styles.css">
</head>

<body class="idolos">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="../index.html">Inicio</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="../index.html"></a>
                    <a class="nav-link" href="Historia.html">Historia</a>
                    <a class="nav-link" href="Titulos.html">Titulos</a>
                    <a class="nav-link" href="Idolos.html">Ídolos</a>
                    <a class="nav-link" href="Estadio.html">Estadio</a>
                    <a class="nav-link" href="Curiosidades.html">Curiosidades</a>
                    <a class="nav-link" href="Estadisticas.html">Estadísticas</a>
                    <a class="nav-link" href="Plantilla.html">Plantilla</a>
                    <a class="nav-link" href="login.html">Login</a>
                </div>
            </div>
        </div>
    </nav>

    <section id="Ídolos">
        <h2>Ídolos</h2>

        <p> América de Cali ha tenido varios ídolos a lo largo de su historia, entre ellos destacan:</p>
        <ul>
            <li><strong>Willington Ortiz:</strong> Considerado uno de los mejores jugadores colombianos de todos los
                tiempos, fue un habilidoso delantero que brilló en la década de 1970.</li>
            <li><strong>Anthony de Ávila:</strong> Conocido como "El Pitufo", fue un goleador prolífico y figura clave
                en los títulos del club en los años 80 y 90.</li>
            <li><strong>Alexis Mendoza:</strong> Defensor central que se destacó por su liderazgo y solidez defensiva,
                contribuyendo a varios campeonatos.</li>
            <li><strong>Julio César Falcioni:</strong> Entrenador argentino que llevó al América a ganar varios títulos
                en la década de 1990, convirtiéndose en un ídolo para la afición.</li>
        </ul>
        Estos jugadores y entrenadores han dejado una huella imborrable en la historia del América de Cali y son
        recordados con cariño por los aficionados del club. Su legado perdura como parte fundamental de la identidad del
        equipo y su éxito a lo largo de los años


    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>

</body>

</html>