<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Titulos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/styles_titulos.css">
</head>
<style>
    
</style>
<body class="Títulos">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="../index.html">Inicio</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="../index.html"></a>
                    <a class="nav-link" href="Historia.html">Historia</a>
                    <a class="nav-link" href="Titulos.html">Titulos</a>
                    <a class="nav-link" href="Idolos.html">Ídolos</a>
                    <a class="nav-link" href="Estadio.html">Estadio</a>
                    <a class="nav-link" href="Curiosidades.html">Curiosidades</a>
                    <a class="nav-link" href="Estadisticas.html">Estadísticas</a>
                    <a class="nav-link" href="Plantilla.html">Plantilla</a>
                    <a class="nav-link" href="login.html">Login</a>
                    <a class="nav-link" href="Register.html">Register</a>
                </div>
            </div>
        </div>
    </nav>

    <section id="Títulos">
        <h2>Títulos</h2>
        <p>
            El América de Cali ha ganado <strong>15 campeonatos de la Primera A</strong> y se destaca por su período de
            dominio entre 1982 y 1986 con cinco títulos consecutivos. Además de sus logros nacionales, ha sido
            subcampeón de la Copa Libertadores en cuatro ocasiones y ganador de competiciones internacionales,
            consolidándose como uno de los equipos más exitosos del fútbol colombiano con más de 20 títulos oficiales en
            su historia.
        </p>

        <ul>
            <li>Ascenso de Primera B
                <p>Ganó el título de la Primera B en 2016, tras un periodo de descenso, lo que marcó su regreso a la
                    élite.
                </p>
            </li>
            <li>Copa Libertadores
                <p>Fue subcampeón en cuatro ocasiones: 1985 (vs. Argentinos Juniors), 1986 (vs. River Plate), 1987 (vs.
                    Peñarol) y 1996 (vs. São Paulo), siendo el club colombiano con más finales disputadas en este
                    torneo.
                </p>
            </li>
            <li>Copa Merconorte 1999
                <p>Ganó el título de la Copa Merconorte en 1999, lo que representó un logro importante en su historia.
                    Su único título oficial en competiciones continentales modernas, derrotando a Santa Fe en la final.
                </p>
            </li>
            <li>Copa Simón Bolívar 1975
                <p>Ganó el título de la Copa Simón Bolívar en 1975, consolidándose como uno de los equipos más exitosos
                    del fútbol colombiano. Un precursor de la Libertadores, considerado su primer logro internacional.
                </p>
            </li>
        </ul>

    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>

</body>

</html>